  <div class="hero">      
    <div class="container">
      <div class="row">
        <div class="six columns hero-left">
          <div>NYPL Labs</div>

          <h2>B.I.L.L.I.</h2>
          <div>Bibliographic Identifiers for<br>Library Location Information</div>
        </div>
        <div class="six columns hero-right">
            <div class="mask">
              <div class="billi-logo"> </div>
            </div>
        </div>
      </div>
    </div>
  </div>
