<nav>
  <div class="container">
    <div class="row header">
      <div class="eight columns">
          
            <a href="/">
            	<div class="header-about-logo">
            		
            	</div>
            </a>
            <a href="/" class="nypl">B.I.L.L.I.</a>

        </div>
      <div class="four columns"><a class="u-pull-right" href="/login/">Staff Login</a></div>
    </div>
  </div>
</nav>


