<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/hero.ejs %>

    <div class="container">
      <div class="row">
        <div class="two columns">
            <span class="eyebrow"></span>
            <span class="eyebrow-text">About the BILLI system</span>
        </div>
        <div class="ten columns content-column">
          <p>The BILLI system is a Linked Open data platform for organizing the various classmarks used at the New York Public Library. The BILLI system is a Linked Open data platform for organizing the various classmarks used at the New York Public Library. The BILLI system is a Linked Open data platform for organizing the various classmarks used at the New York Public Library. <a href="/more">Learn More.</a> </p>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="two columns">         
        <span class="eyebrow"></span>
        <span class="eyebrow-text">Search Classmarks</span>
      </div>
      <div class="ten columns content-column">
                <input class="u-full-width" placeholder="Start typing to search..." id="search-input" type="search">
      
                <div id="search-results"></div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="two columns">         
        <span class="eyebrow"></span>
        <span class="eyebrow-text">Browse Classmarks</span>
      </div>
      <div class="ten columns content-column">

          <% for (var x in classificationsBaseLevel){  %>

            <% if (classificationsBaseLevel[x].classification === 'classification:billings'){ %>

              <%  var billings = classificationsBaseLevel[x]; %>
              <% include ../partials/classification_billings.ejs %>

            <% }else{ %>

              <%  var classification = classificationsBaseLevel[x]; %>
              <% include ../partials/classification_other.ejs %>

            <% } %>

            <div class="classmark-page-padding-before-fields"></div>

          <% } %>

      </div>
    </div>
  </div>



<script id="search-results-template" type="text/template">

  <# _.each(items,function(item,key,list){ #>

    <a href="/classmark/<#=item.attributes.classmark#>">
      <div class="search-result-item">
        <div class="u-pull-right search-result-item-classmark"><#=item.attributes.classification#> - <#=item.attributes.classmark#></div>
        <# var hierarchy = item.attributes.label.split(' > '); #>

        <# _.each(hierarchy, function(level,levelKey,levelList){ #>
          <# if (levelKey == 0){ #>
            <div class="search-result-item-level-first" style="padding-left:<#=levelKey*2.5#>%"><#=level#></div>
          <# }else{ #>
            <div class="search-result-item-level" style="padding-left:<#=levelKey*2.5#>%"><#=level#></div>
          <# } #>
        <# }); #>
      </div>
    </a>

  <# }); #>
  
  <# if (items.length==0){ #>
    <div class="search-result-item">
      No Results
    </div>
  <# } #>

</script>

</body>
</html>
