<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav_about.ejs %>


<div class="classmark-page-hero">
  <div class="container">
    <div class="row" style="text-align:center">
      <div class="six columns">
          <br>
          <img src="harrumph_white.png">
      </div>
      <div class="six columns">
          <br><br>
          <h4 style="color:white;">You need to login with a nypl.org email address.</h4>
      </div>
    </div>
  </div>
</div>

<div style="text-align:center">
  <br>
  <h3><a href="/">Home</a></h3>
</div>


</body>
</html>
